@model IEnumerable<phonebook.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
    &nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-info showSearch"><i class="icon icon-chevron-down"></i>Show/Hide Search</a>
</p>

<style type="text/css">
    #frmSearch{
        display: block
    }
</style>

@using (Html.BeginForm("Index", "People", FormMethod.Post, new { id = "frmSearch" }))
{
   <fieldset class="form-group search-field">
        <legend>Search</legend>
        <table>
            <tr>
                <th>
                    @Html.Label("Name")<br/>
                </th>
                <th>
                    @Html.Label("Email")
                </th>
                <th>
                    @Html.Label("Phone")
                </th>
                <th>
                    @Html.Label("Company")
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("busca", null, new { @class = "busca", @placeholder = "buscar" })
                </td>
                <td>
                    @Html.TextBox("Email")
                </td>
                <td>
                    @Html.TextBox("Phone")
                </td>
                <td>
                    @Html.DropDownList("CompanyId", "Todos")
                </td>
                <td class="right">
                    <button type="submit" class="btn btn-success searchAction">
                        <i class="icon icon-search"></i>
                        Search
                    </button>
                    <button class="clearAction btn btn-default" onClick="this.form.reset();return false;">
                        <i class="icon icon-search"></i>
                        Clear
                    </button>
                </td>
            </tr>
        </table>
    </fieldset>

}
<div class="clearfix"></div>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone) - @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete" })
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/people_create")
}



